@model IEnumerable<BikeStores.Models.StoresListModel>
@{
    ViewBag.Title = "GetStores";
}

<h2>Stores</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.store_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.store_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zip_code)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.store_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.store_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zip_code)
            </td>

        </tr>

    }

</table>
